header,.mainBox{max-width: 1200px;margin: 0 auto;}
header ul{height: 47px;}
header ul li{line-height: 45px;font-size: 16px;}
header ul li:hover,header ul li.active{border-bottom: 2px solid #dc30cc;}
main{background: #e5e5e5;padding-top: 1px;}
.mainBox .panelTop,.mainBox .panelLeft,.mainBox .panelMain{background: #fff;margin-top: 10px;border: 1px solid #dcdcdc;}
.mainBox .panelTop{height: 182px;}
.mainBox .panelTop .userHead{width: 150px;height: 150px;margin: 15px 30px 15px 20px;float: left;}
.mainBox .panelTop .person-info{max-width: 700px; height: 150px;margin: 15px 30px 15px 20px;float: left;}
.mainBox .panelTop .person-info .person-detail span{margin-right: 10px;}
.mainBox .panelLeft{float: left;width: 250px;min-height: 500px;margin-right: -250px; border:1px solid #ddd;position: relative;}
.mainBox .panelMain{width: 100%;min-height: 500px;padding-left: 250px;}
.person-info .person-sign{font-size: 12px;margin-top: 10px;}
#suerCrticle li{line-height: 35px;}
.chatInterface{width: 500px;height: 500px;margin-bottom:40px;border: 3px solid #4e79ab;box-sizing: content-box;overflow: hidden;}
.chatInterface .l,.chatInterface .m{height: 400px;float: left;border-bottom: 1px solid #ddd;}
.chatInterface .l{width: 100px;border-right: 1px solid #ddd;}
.chatInterface .m{width: 398px;padding:10px 5px;overflow: auto;}
.chatInterface .t textarea{width: 100%;height: 73px;border: none;padding-left: 10px;resize:none;outline:none;}
.chatInterface .t .send{float: right;}
.chatInterface .m .user span,
.chatInterface .m .users span{padding:0 10px;font-size: 14px;border: 1px solid #dedede;background: #fdfdfd;border-radius: 4px;display: inline-block;}
.chatInterface .m .users span{float: right;}
.chatInterface .m .users{overflow: hidden;}