<div class="content" id="suerCrticleContent"  style="padding: 10px;">
	<h4>
		欢迎来到个人主页，
	</h4>
	<div class="chatInterface" id="sendBox">
		<div class="l"></div>
		<div class="m">
			<p v-for="stat in stats" v-bind:class="[stat.label ? 'users'  : 'user']"><span>{{stat.value}}</span></p>
		</div>
		<div class="t">
			<textarea name="" id="sendTextarea" v-model="newLabel"></textarea>
			<button class="send" @click="send">发送</button>
		</div>
	</div>
	<script>
		var stats = [
		  { label: false, value: '欢迎您！' },
		];
		var arrQA = ['我啥也不知道','你好，我是机器人小冰','请问有什么可以帮助你吗?','对不起，我不清楚你的问题','谢谢，再见！','这个问题我不知道，换一个试试。','呵呵','嗯，你是对的','我不想和你聊天了。','我们聊点别的吧','你的问题太奇葩了，我拒绝回答','没错，是这样的。','哦哦','~\\(^o^)/~'];

		new Vue({
		  el: '#sendBox',
		  data: {
		    newLabel: '',
		    stats: stats
		  },
		  methods: {
		    send: function (e) {
		      e.preventDefault()
		      if (!this.newLabel) return
		      this.stats.push({
		        label: true,
		        value: this.newLabel
		      },{
		        label: false,
		        value: arrQA.mathFloor()
		      })
		      this.newLabel = ''
		      var _sendBox = $('#sendBox .m');
		      setTimeout(function(){_sendBox.scrollTop( _sendBox[0].scrollHeight +1000);},10)		
		      $('#sendTextarea').focus();      
		    }    
		  }
		})
	</script>
</div>