<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>首页</title>
  <!-- Set render engine for 360 browser -->
  <meta name="renderer" content="webkit">
  <!-- No Baidu Siteapp-->
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <link rel="icon" type="image/ico" href="img/favicon.ico">
  <link rel="stylesheet" href="css/amazeui.min.css">
  <link rel="stylesheet" href="css/base.css">
</head>
<body>

<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a
  href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->

	<header data-href="header.html #header">
		
	</header>

	<main>
		<div class="mainBox">
			<div class="panelTop" id="suerInfo">
				<a href="javascript:;"><img class="userHead" src="img/header.png"></a>
				<div class="person-info">
		            <div class="person-nick-name"> <span>qq_775773863</span> </div>
		              <div class="person-detail">
		            		<span class="info_null"> {{userInfo.userName}} </span>
		            		<span>|</span>
		            		<span class="info_null"> {{userInfo.industry}} </span>
		            		<span>|</span>
		            		<span class="info_null"> {{userInfo.job}} </span>
		            		<span>|</span>
		            		<span class="info_null"> {{userInfo.sex}} </span>
		            		<span>|</span>
		            		<span class="info_null"> {{userInfo.nationality}} </span>
		            		<span>|</span>
		            		<span class="info_null"> {{userInfo.birthDay}} </span>
		              </div>
		            <div v-if="userInfo.profile == ''" class="person-sign">个人简介</div>
		            <div v-else class="person-sign"> {{userInfo.profile}} </div>
		        </div>
			</div>
			<div class="panelLeft">
				  <section data-am-widget="accordion" class="am-accordion am-accordion-gapped" data-am-accordion='{  }'>
				  	  <dl class="am-accordion-item am-active">
				        <dt class="am-accordion-title"> 我的日志 </dt>
				        <dd class="am-accordion-bd am-collapse am-in">
				          <div class="am-accordion-content" id="suerCrticle">
				              <ol>
				              	<li  v-for="todo in myCrticle"> <a href="javascript:void(0)" v-on:click="onClickCrticle(todo.crticleUrl)"> {{todo.crticleName}} </a></li>
				              </ol>
				          </div>
				        </dd>
				      </dl>
				      <dl class="am-accordion-item">
				        <dt class="am-accordion-title"> 就这样恣意的活着 </dt>
				        <dd class="am-accordion-bd am-collapse">
				          <div class="am-accordion-content">
				            置身人群中 <br/> 你只需要被淹没 享受 沉默 <br/> 退到人群后 <br/> 你只需给予双手 微笑 等候
				          </div>
				        </dd>
				      </dl>
				      <dl class="am-accordion-item">
				        <dt class="am-accordion-title"> 让生命去等候，去等候，去等候，去等候 </dt>
				        <dd class="am-accordion-bd am-collapse ">
				          <div class="am-accordion-content">
				            走在忠孝东路 <br/> 徘徊在茫然中 <br/> 在我的人生旅途 <br/> 选择了多少错误 <br/> 我在睡梦中惊醒 <br/> 感叹悔言无尽 <br/> 恨我不能说服自己 <br/> 接受一切教训 <br/> 让生命去等候 <br/> 等候下一个漂流 <br/> 让生命去等候 <br/>等候下一个伤口
				          </div>
				        </dd>
				      </dl>
				      <dl class="am-accordion-item">
				        <dt class="am-accordion-title"> 我就这样告别山下的家 </dt>
				        <dd class="am-accordion-bd am-collapse ">
				          <div class="am-accordion-content">
				            我就这样告别山下的家，我实在不愿轻易让眼泪留下。我以为我并不差不会害怕，我就这样自己照顾自己长大。我不想因为现实把头低下，我以为我并不差能学会虚假。怎样才能够看穿面具里的谎话？别让我的真心散的像沙。如果有一天我变得更复杂，还能不能唱出歌声里的那幅画？
				          </div>
				        </dd>
				      </dl>
				  </section>

			</div>
			<div class="panelMain" data-href="content.html">
				
			</div>
		</div>
	</main>
	

	<footer>
		
	</footer>
<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="AmazeUI/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<script src="js/jquery-1.9.1.js" type="text/javascript"></script>
<script src="js/vue.js" type="text/javascript"></script>
<script src="js/amazeui.min.js" type="text/javascript"></script>
<script src="js/base.js" type="text/javascript"></script>
<script>

</script>

</body>
</html>
