<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1"/>
  <title>vuejs</title>
  <meta name="keywords" content=""/>
  <meta name="description" content="" />
  <link rel="stylesheet" type="text/css" href="css/Pro_compare_v3.css">
</head>
<body>
  <div class="topbar clearfix">
    <div class="page-w">
      <a href="#" class="logo">家电</a>
      <ul>
        <li><a href="#">首页</a></li>
        <li><a href="#">资讯</a></li>
        <li><a href="#" class="active">产品</a></li>
        <li><a href="#">品牌</a></li>
        <li><a href="#">下载</a></li>
        <li><a href="#">社区</a></li>
      </ul>
    </div>
  </div>
  <div class="head-wrap page-w clearfix">
    <a href="" class="logo">家电</a>
    <div class="search-wrap">
      <form action="" method="get" id="Search_form" name="Search_form" class="">
        <input type="hidden" name="s" value="">
        <input type="text" name="q" id="searchBox" autocomplete="off" class="" placeholder="请在此输入想了解的内容">
        <button type="submit" id="searchBtn" class="btn-submit">搜索</button>
      </form>
    </div>
  </div>
  <div class="nav dt-nav clearfix">
    <ul class="nav-ul page-w">
      <li class="catalog"><a href="#">新闻首页</a></li>
      <li class="active"><a href="#">家电</a></li>
      <li><a href="#">家居</a></li>
      <li><a href="#">健康</a></li>
      <li><a href="#">出行</a></li>
      <li><a href="#">影音</a></li>
    </ul>
  </div>
  <!--正文 start-->
  <div class="c-main c-maint page-w clearfix">
  <p class="breadnav">您所在的位置：<a href="#">家电</a>&gt;展示</p>
    <div class="subtitle">手机</div>
    <div class="tbA compare-select" id="app">
      <table class="compare-table" width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody>
          <tr>
            <th class="tit">产品展示</th>
            <td>
              <div class="paramCon">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="vScroll">
                  <tbody>
                    <tr>
                      <td v-for="(item, index) in productList">
                        <div class="direction">
                          <span class="fl"><a title="向左移" href="javascript:goR(1)">←向左移</a></span>
                          <span class="fr"><a title="向右移" href="javascript:goR(1)">向右移→</a></span>
                        </div>
                        <ul class="ulPic pro1">
                          <li>
                            <i class="pic"><a href="" target="_blank"><img width="120" height="90" :src="item.productImage"></a></i>
                            <i class="tit"><a href="" target="_blank">{{ item.productName }}</a></i>
                            <i class="del"><a title="删除" href="#" @click="deleteTodo(index)">移除</a></i>
                          </li>
                        </ul>
                      </td>
                     
                      <td>
                        <div class="direction"></div>
                        <ul class="ulPic">
                          <li>
                            <i class="pic"><img src="http://www1.pconline.com.cn/2011/product/img/pic-compare.png" width="120" height="90"></i>
                            <i class="sel">
                              <select id="_brandList3_" v-model="newTodo.productName">
                                <option>请选择品牌</option>
                                <option value="烽火">烽火</option>
                                <option value="FOG">FOG</option>
                                <option value="衍生">衍生</option>
                                <option value="唯享">唯享</option>
                                <option value="雅虎">雅虎</option>
                                <option value="93180">和信</option>
                              </select>
                            </i>
                            <i class="sel">
                              <select id="_productList3_" v-model="newTodo.productImage">
                                <option value="0">请选择型号</option>
                                <option value="http://2d.zol-img.com.cn/product/179_160x120/729/ceBVDXEYKSYU.jpg">5.2英寸</option>
                                <option value="http://2b.zol-img.com.cn/product/177_160x120/449/cePWLs2Zw5hSg.jpg">4.9英寸</option>
                              </select>
                            </i>                        
                            <i><input type="button" class="add-btn" value="添加" @click="addTodo(newTodo)"></i>
                          </li>
                        </ul>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
          
        </tbody>
      </table>
  </div>

</div>
<!--正文 end-->
<div class="footer clearfix">
  <div class="page-w">
    <p class="footer-link">
      <a href="#">关于我们</a>|
      <a href="#">联系我们</a>|
      <a href="#">免责申明</a>|
      <a href="#">广告合作</a>|
      <a href="#">网站合作</a>|
      <a href="#">网站地图</a>
    </p>
    <p>Copyright © 2017-2020 <a href="#">家具生活网（www.xxxx.com）</a>ALL Right severed 备案编号：<a href="http://www.miitbeian.gov.cn" rel="nofollow" target="_blank">20170406号-1</a></p>
  </div>
</div>
<script type="text/javascript" src="js/vue.min.js"></script>
<script type="text/javascript" src="js/vue-resource.js"></script>
<script type="text/javascript" src="js/compare.js"></script>
</body>
</html>